@import '../../styles/variables';
@import '../../styles/mixins';

.location {
  background-color: $blue-medium;
  color: #d8d8d8;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  padding: 1em 1em;
}

.listItem {
  cursor: pointer;
  padding: 1em;
  display: flex;

  > div {
    display: flex !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px !important;
  }

  &:hover {
    background-color: rgba(128, 128, 128, 0.241);
  }

  & + .listItem {
    border-top: 1px solid rgba(128, 128, 128, 0.063);
  }
}

.locationInternal {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1.5vw;
  width: 100%;

  h1 {
    color: $brown-dark;
  }

  > div {
    padding: 0.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gray-light;
  }
}

.placeRecomnd {
  width: 100%;
  display: flex;
  border-radius: $border-radius-sm;

  p {
    color: $blue-dark;
  }
}

// Increase specificity for titles and descriptions
.location .placeRecomnd {
  .ant-list-item-meta-title {
    color: $blue-dark;
  }

  .ant-list-item-meta-description {
    color: $blue-dark;
  }
}

.cityTitle {
  color: #F9F9F9;
  text-align: center;
  margin: 0;
}

@media (max-width: 1200px) {
  .cityTitle {
    font-size: 2.2em;
  }
}
