
@font-face{
  font-family: "DreamAvenue";
  src: url("/fonts/DreamAvenue.ttf") format("truetype");
}

@font-face{
  font-family: "JosefinSlab";
  src: url("/fonts/JosefinSlab.ttf") format("truetype");
}

@font-face{
  font-family: "OpenSansLight";
  src: url("/fonts/OpenSansLight.ttf") format("truetype");
}

@font-face{
  font-family: "Halimun";
  src: url("/fonts/Halimun.ttf") format("truetype");
}
div[aria-label="animation"] {
  margin: 0 !important
}

html,
body {
  position: absolute;
  padding: 0;
  margin: 0;
  max-width: 100% ;
  height: 100%;
  width: 100%;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  background-color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#map { height: 180px; }

h1 {
  font-family: 'Ms Madi';
  font-size: 3em;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 15px;
}

.ant-divider-vertical {
  border-left: 3px dashed #efe6dd !important;
  height: 100% !important;
}

.ant-modal-content {
  /* color: #C0975F; */
  /* background-color: #eeeeee; */
}


.ant-list-item {
  padding: 1em !important;
}

.ant-rate-star-full {
  color: #C0975F !important
}

.main {
  /* min-height: 70vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 73px;
  max-width: 100%;
  width: 100%;
}

.spacer {
  aspect-ratio: 960/145;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flip {
  transform: rotate(180deg);
}

.ant-card-body {
  padding: 0.75em;
}

.ant-carousel .slick-dots-bottom {
  bottom: -18px;
}

.ant-carousel .slick-dots li {
  margin-right: 10px;
  height: 30px;
  width: 30px !important;

  display: flex;
  align-content: center;
  align-items: center;
}

.ant-carousel .slick-dots li button {
  height: 20px ;
  width: 20px ;
  border-radius: 50%;
  opacity: 0.7;
}

.ant-carousel .slick-dots li.slick-active button {
  height: 30px;
  width: 30px;
}

/* .dotsCarrousel > li:nth-child(1) > button { background: #df0c06 !important; opacity: 1; }
.dotsCarrousel > li:nth-child(2) > button { background: #fd4600 !important; opacity: 1; }
.dotsCarrousel > li:nth-child(3) > button { background: #ffb400 !important; opacity: 1; }
.dotsCarrousel > li:nth-child(4) > button { background: #00a364 !important; opacity: 1; }
.dotsCarrousel > li:nth-child(5) > button { background: #0075cb !important; opacity: 1; }
.dotsCarrousel > li:nth-child(6) > button { background: #6f30a4 !important; opacity: 1; } */

.dotsCarrousel > li > button { background: #0076cb !important; opacity: 1; }

.dotsCarrousel > li.slick-active > button { background: #0075cb !important; opacity: 1; }

.dotsCarrousel > li::after {
  height: 0 !important;
}

.ant-image-img {
  object-fit: contain;
}

div.ant-card-cover {
  height: 100%;
}